<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Edit
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-list>
          <ion-list-header>
            <ion-label>List of Names</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let name of legends; let i = index" lines="full">
            <ion-label *ngIf="!editable[i]">
              {{name}}
            </ion-label>
            <ion-input *ngIf="editable[i]" type="text" value="{{name}}" (ngModelChange)="backup($event, i)" [ngModel]="legends[i]"></ion-input>
            <ion-button *ngIf="!editable[i]" slot="end" shape="round" color="primary" fill="outline" (click)="makeEditable(i)">edit</ion-button>
            <ion-button *ngIf="editable[i]" slot="end" shape="round" color="primary" fill="outline" (click)="save(i, legends[i])">save</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>